<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Task Manager</title>
</head>
<body>
<h1>Task Manager</h1>
<form action="/task/add" method="post">
    <label for="description">Task description:</label>
    <input type="text" id="description" name="description">
    <button type="submit">Add Task</button>
</form>
<h2>Tasks</h2>
<ul>
    <li th:each="task, stat : ${tasks}">
        <form action="/task/complete" method="post">
            <span th:text="${task}"></span>
            <input type="hidden"
                   name="taskId" th
                           ="${stat.index}">
            <button type="submit">Complete</button>
        </form>
    </li>
</ul>
<a href="/">Back to home</a>

</body>
</html>